{% extends "main.html" %}

{% block title %}Generic Dealership Site{% endblock %}

{% block dealership_table %}
		<table>
			<tr>
				<th>dealership_name</th>
				<th>hours</th>
				<th>address</th>
				<th>city</th>
				<th>zip</th>
				<th>country</th>
			</tr>
			{% for r in rows %}
			<tr>
				<td><a href="/selectDealership/{{ r.7 }}">{{ r.0 }}</a></td>
				<td>{{ r.1 }}</td>
				<td>{{ r.2 }} {% if r.3 %}{{ r.3 }}{% endif %}</td>
				<td>{{ r.4 }}</td>
				<td>{{ r.5 }}</td>
				<td>{{ r.6 }}</td>
				<td><button type="button" onclick="location.href='./'">Update</button></td>
				<td><button type="button" onclick="location.href='./'">Delete</button></td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}

{% block add_form_dealership %}
	<div>
		<button type="button" id="add_btn">Add</button>
	</div>
	<div id="modal-backdrop" class="hidden"></div>
	<div id="add-form-modal" class="hidden">
		<div class="modal-dialog">
        <div class="modal-header">
          <h3>Add a Dealership</h3>
        </div>
			<div class="modal-body">
				<form id="add_dealership" action="/addDealership" method="post">
				Address: <input type="text" name="address1"><br>
				Address(2, optional): <input type="text" name="address2"><br>
				City: <input type="text" name="city"><br>
				ZIP: <input type="text" name="ZIP"><br>
				Country: <input type="text" name="country"><br>
				Hours: <input type="text" name="hours"><br>
				Name: <input type="text" name="dealership_name"><br>
				<input type="submit" value="Submit">
				</form><br/>
			</div>
      </div>
    </div>
	<script>
		var add_btn = document.getElementById('add_btn');
		add_btn.addEventListener('click', toggleModal)
		var modal = document.getElementById('add-form-modal');
		modal.addEventListener('click', modalEventListener);

		function modalEventListener(event){	
			if (event.target.id === "add-form-modal") //if you click on the backdrop it closes the modal
				toggleModal();
		}

		function toggleModal(){
			var modalBackdrop = document.getElementById('modal-backdrop');
			var modal = document.getElementById('add-form-modal');
			modalBackdrop.classList.toggle('hidden');
			modal.classList.toggle('hidden');
		}
	</script>
{% endblock %}
