{% extends "select.html" %}

{% block title %}{{ dealership.0.0 }}{% endblock %}

{% block employees_table %}
	<h3>Employees</h3>
	<form id="search-emp" action="/selectDealership/{{ dealership_id }}" method="post"><input type="text" placeholder="Search Name" name="search_emp"></form>
	<table>
		<tr>
			<th>Name</th>
			<th>Position</th>
		</tr>
		{% for e in employees %}
		<tr>
			<td>{{ e.1 }} {{ e.2 }}</td>
			<td>{{ e.3 }}</td>
			<td><button type="button" onclick="updateListenerEmployee({{ e.4 }}, '{{ e.1 }}', '{{ e.2 }}', '{{ e.3 }}')">Update</button></td>
      	<td><button type="button" onclick="location.href='/deleteEmployee/{{ dealership_id }}/{{ e.4 }}'">Delete</button></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block add_form_employee %}
   <div>
      <button type="button" id="add-btn-employee">Add</button>
   </div>
   <div id="modal-backdrop" class="hidden backdrop"></div>
   <div id="add-form-modal-employee" class="hidden modal">
      <div class="modal-dialog">
        <div class="modal-header">
          <h3>Add an Employee</h3>
        </div>
         <div class="modal-body">
            <form id="add_employee" action="/addEmployee/{{ dealership_id }}" method="post">
            First Name: <input type="text" name="fname"><br>
            Last Name: <input type="text" name="lname"><br>
            Position: <input type="text" name="position"><br>
            <input type="submit" value="Submit">
            </form><br/>
         </div>
      </div>
    </div>
   <script>
      var add_btn = document.getElementById('add-btn-employee');
      add_btn.addEventListener('click', toggleModalEmp)
      var modal = document.getElementById('add-form-modal-employee');
      modal.addEventListener('click', modalEventListenerEmp);

      function modalEventListenerEmp(event){
         if (event.target.id === "add-form-modal-employee")
            toggleModalEmp();
      }

      function toggleModalEmp(){
         var modalBackdrop = document.getElementById('modal-backdrop');
         var modal = document.getElementById('add-form-modal-employee');
         modalBackdrop.classList.toggle('hidden');
         modal.classList.toggle('hidden');
      }
   </script>
{% endblock %}

{% block update_form_employee %}
<div id="update-form-modal-employee" class="hidden modal">
	<div class="modal-dialog">
		<div class="modal-header"><h3>Update a Feature to the vehicle</h3></div>
		<div id="update-form-body-employee" class="modal-body">
		</div>
	</div>
</div>
<script>
	var modal = document.getElementById('update-form-modal-employee');
	modal.addEventListener('click', modalEventListenerUpdateEmployee);

	function updateListenerEmployee(id, fname, lname, position){
		var f = document.createElement("form");
		f.setAttribute('id', "update-form-employee");
		f.setAttribute('method', "post");
		f.setAttribute('action', "/updateEmployee/{{ dealership_id }}/" + id);
		var i1 = document.createElement("input");
		i1.setAttribute('type', "text");
		i1.setAttribute('name', "fname");
		i1.setAttribute('value', fname);
		var i2 = document.createElement("input");
		i2.setAttribute('type', "text");
		i2.setAttribute('name', "lname");
		i2.setAttribute('value', lname);
		var i3 = document.createElement("input");
		i3.setAttribute('type', "text");
		i3.setAttribute('name', "position");
		i3.setAttribute('value', position);
		var s = document.createElement("input");
		s.setAttribute('type', "submit");
		s.setAttribute('value', "Submit");
		f.appendChild(i1);
		f.appendChild(i2);
		f.appendChild(i3);
		f.appendChild(s);

		document.getElementById('update-form-body-employee').appendChild(f);
		toggleModalUpdateEmployee();
	}

	function modalEventListenerUpdateEmployee(event){
		if (event.target.id === "update-form-modal-employee")
			toggleModalUpdateEmployee();
	}

   function toggleModalUpdateEmployee(){
      var modalBackdrop = document.getElementById('modal-backdrop');
      var modal = document.getElementById('update-form-modal-employee');
      modalBackdrop.classList.toggle('hidden');
      modal.classList.toggle('hidden');
		if (modal.classList.contains('hidden')){
			var f = document.getElementById('update-form-employee');
			f.remove();
		}
   }
</script>
{% endblock %}

{% block vehicles_table %}
	<h3>Vehicles</h3>
	<form id="search-veh" action="/selectDealership/{{ dealership_id }}" method="post"><input type="text" placeholder="Search VIN" name="search_veh"></form>
	<table>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>vin</th>
		</tr>
		{% for v in vehicles %}
		<tr>
			<td><a href="/selectVehicle/{{ dealership_id }}/{{ v.1 }}">{{ v.1 }}</a></td>
			<td>{{ v.2 }}</td>
			<td>{{ v.3 }}</td>
			<td><button type="button" onclick="updateListenerVehicle({{ v.1 }}, '{{ v.2 }}', '{{ v.3 }}')">Update</button></td>
			<td><button type="button" onclick="location.href='/deleteVehicle/{{ dealership_id }}/{{ v.1 }}'">Delete</button></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block add_form_vehicle %}
   <div>
      <button type="button" id="add-btn-vehicle">Add</button>
   </div>
   <div id="modal-backdrop-vehicle" class="hidden backdrop"></div>
   <div id="add-form-modal-vehicle" class="hidden modal">
      <div class="modal-dialog">
        <div class="modal-header">
          <h3>Add a Vehicle</h3>
        </div>
         <div class="modal-body">
            <form id="add_vehicle" action="/addVehicle/{{ dealership_id }}" method="post">
				Type: <input type="text" name="type" list="types">
				<datalist id="types">
					{% for t in types %}
					<option>{{ t.0 }}</option>
					{% endfor %}
				</datalist><br>
            VIN: <input type="text" name="vin"><br>
            <input type="submit" value="Submit">
            </form><br/>
         </div>
      </div>
    </div>
   <script>
      var add_btn = document.getElementById('add-btn-vehicle');
      add_btn.addEventListener('click', toggleModalVeh)
      var modal = document.getElementById('add-form-modal-vehicle');
      modal.addEventListener('click', modalEventListenerVeh);

      function modalEventListenerVeh(event){
         if (event.target.id === "add-form-modal-vehicle") //if you click on the backdrop it closes the modal
            toggleModalVeh();
      }

      function toggleModalVeh(){
         var modalBackdrop = document.getElementById('modal-backdrop-vehicle');
         var modal = document.getElementById('add-form-modal-vehicle');
         modalBackdrop.classList.toggle('hidden');
         modal.classList.toggle('hidden');
      }
   </script>
{% endblock %}

{% block update_form_vehicle %}
<div id="update-form-modal-vehicle" class="hidden modal">
	<div class="modal-dialog">
		<div class="modal-header"><h3>Update a Feature to the vehicle</h3></div>
		<div id="update-form-body-vehicle" class="modal-body">
		</div>
	</div>
</div>
<script>
	var modal = document.getElementById('update-form-modal-vehicle');
	modal.addEventListener('click', modalEventListenerUpdateVehicle);

	function updateListenerVehicle(id, type, vin){
		var f = document.createElement("form");
		f.setAttribute('id', "update-form-vehicle");
		f.setAttribute('method', "post");
		f.setAttribute('action', "/updateVehicle/{{ dealership_id }}/" + id);
		var i1 = document.createElement("input");
		i1.setAttribute('type', "text");
		i1.setAttribute('name', "type");
		i1.setAttribute('value', type);
		var i2 = document.createElement("input");
		i2.setAttribute('type', "text");
		i2.setAttribute('name', "vin");
		i2.setAttribute('value', vin);
		var s = document.createElement("input");
		s.setAttribute('type', "submit");
		s.setAttribute('value', "Submit");
		f.appendChild(i1);
		f.appendChild(i2)
		f.appendChild(s);

		document.getElementById('update-form-body-vehicle').appendChild(f);
		toggleModalUpdateVehicle();
	}

	function modalEventListenerUpdateVehicle(event){
		if (event.target.id === "update-form-modal-vehicle")
			toggleModalUpdateVehicle();
	}

   function toggleModalUpdateVehicle(){
      var modalBackdrop = document.getElementById('modal-backdrop-vehicle');
      var modal = document.getElementById('update-form-modal-vehicle');
      modalBackdrop.classList.toggle('hidden');
      modal.classList.toggle('hidden');
		if (modal.classList.contains('hidden')){
			var f = document.getElementById('update-form-vehicle');
			f.remove();
		}
   }
</script>
{% endblock %}

