{% extends "select.html" %}

{% block title %}{{ dealership.0.0 }}{% endblock %}

{% block employees_table %}
	<h3>Employees</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Position</th>
		</tr>
		{% for e in employees %}
		<tr>
			<td>{{ e.1 }} {{ e.2 }}</td>
			<td>{{ e.3 }}</td>
			<td><button type="button" onclick="location.href='/updateEmployee/{{ dealership_id }}/{{ e.4 }}'">Update</button></td>
      	<td><button type="button" onclick="location.href='/deleteEmployee/{{ dealership_id }}/{{ e.4 }}'">Delete</button></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block add_form_employee %}
   <div>
      <button type="button" id="add-btn-employee">Add</button>
   </div>
   <div id="modal-backdrop-employee" class="hidden backdrop"></div>
   <div id="add-form-modal-employee" class="hidden modal">
      <div class="modal-dialog">
        <div class="modal-header">
          <h3>Add an Employee</h3>
        </div>
         <div class="modal-body">
            <form id="add_employee" action="/addEmployee/{{ dealership_id }}" method="post">
            First Name: <input type="text" name="fname"><br>
            Last Name: <input type="text" name="lname"><br>
            Position: <input type="text" name="position"><br>
            <input type="submit" value="Submit">
            </form><br/>
         </div>
      </div>
    </div>
   <script>
      var add_btn = document.getElementById('add-btn-employee');
      add_btn.addEventListener('click', toggleModalEmp)
      var modal = document.getElementById('add-form-modal-employee');
      modal.addEventListener('click', modalEventListenerEmp);

      function modalEventListenerEmp(event){
         if (event.target.id === "add-form-modal-employee")
            toggleModalEmp();
      }

      function toggleModalEmp(){
         var modalBackdrop = document.getElementById('modal-backdrop-employee');
         var modal = document.getElementById('add-form-modal-employee');
         modalBackdrop.classList.toggle('hidden');
         modal.classList.toggle('hidden');
      }
   </script>
{% endblock %}


{% block vehicles_table %}
	<h3>Vehicles</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>vin</th>
		</tr>
		{% for v in vehicles %}
		<tr>
			<td><a href="/selectVehicle/{{ dealership_id }}/{{ v.1 }}">{{ v.1 }}</a></td>
			<td>{{ v.2 }}</td>
			<td>{{ v.3 }}</td>
			<td><button type="button" onclick="location.href='/updateVehicle/{{ dealership_id }}/{{ v.1 }}'">Update</button></td>
			<td><button type="button" onclick="location.href='/deleteVehicle/{{ dealership_id }}/{{ v.1 }}'">Delete</button></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block add_form_vehicle %}
   <div>
      <button type="button" id="add-btn-vehicle">Add</button>
   </div>
   <div id="modal-backdrop-vehicle" class="hidden backdrop"></div>
   <div id="add-form-modal-vehicle" class="hidden modal">
      <div class="modal-dialog">
        <div class="modal-header">
          <h3>Add a Vehicle</h3>
        </div>
         <div class="modal-body">
            <form id="add_vehicle" action="/addVehicle/{{ dealership_id }}" method="post">
				Type: <input type="text" name="type" list="types">
				<datalist id="types">
					{% for t in types %}
					<option>{{ t.0 }}</option>
					{% endfor %}
				</datalist><br>
            VIN: <input type="text" name="vin"><br>
            <input type="submit" value="Submit">
            </form><br/>
         </div>
      </div>
    </div>
   <script>
      var add_btn = document.getElementById('add-btn-vehicle');
      add_btn.addEventListener('click', toggleModalVeh)
      var modal = document.getElementById('add-form-modal-vehicle');
      modal.addEventListener('click', modalEventListenerVeh);

      function modalEventListenerVeh(event){
         if (event.target.id === "add-form-modal-vehicle") //if you click on the backdrop it closes the modal
            toggleModalVeh();
      }

      function toggleModalVeh(){
         var modalBackdrop = document.getElementById('modal-backdrop-vehicle');
         var modal = document.getElementById('add-form-modal-vehicle');
         modalBackdrop.classList.toggle('hidden');
         modal.classList.toggle('hidden');
      }
   </script>
{% endblock %}

